#options{
    padding: 10px;
    margin: 10px;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    width: 150px;
    justify-content: center;
}


ul > li:nth-child(even) {
 color:darkblue;
}
ul > li:nth-child(odd) {
 color:brown;
}

li{
    font-size: 13px;
}

#options button{
    width: 100px;
}

#OptTable{
    display: flex;
}


#table{
    display: flex;
    font-size: 1.2em;
    
}

#header{
    font-family: "Roboto";
    font-weight: bold;
    color: blue;
    text-shadow: 2px 2px #ff0000;
}


#top{
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    justify-content:center;
}

button{
    padding: 1px;
    margin: 5px !important;
}

#bottom{
    display: flex;
    justify-content:center;
}

#ChartOptions{
    padding: 1%;
    margin: 1%;
    display: flex;
    font-size: 1em;
    font-size: 1.2em;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

#checkbox{
    width: 20px;
    height: 20px;
}

#par{
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

img {
    height: 300px;
    padding: 10px;
    margin: 10px;
    width:300px;
    text-align: center;
    border: 1px solid black;
    
}

.OptionsB{
        display: flex;
        flex-direction: column;
    }

@media all and (min-width: 1250px) {

    #page-wrap{
        width: 1300px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }

}

@media all and (max-width: 1248px) {

    #top{
       flex-direction: column;
    }
    
    h1{
        text-align: center;
    }
    
    #table{
        padding-bottom: 20px;
    }
    
    #par{
       display: flex;
       justify-content: center;
        padding-bottom: 0px;
    }
    
    #OptTable{
        justify-content: center;
    }

    img{
        display: none;
    }
      #bottom{
       flex-direction: column;
    }
    
    #chartContainer{
        width: 100% !important;
    }
    #ChartOptions{
        flex-direction:row !important;
        justify-content: space-between;
        text-align: center;
    }
    
    #bottom {
        font-size: 12px;
    }
}

#form{
    background-color:aliceblue;
    position: fixed;
    width: 270px;
    height: 400px;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-color:black;
    top: 10%;
    left: 43%;
}

@media all and (max-width: 650px) {

    #OptTable{
        flex-direction: column;
        font-size: 15px;
    }
    
    #options{
        flex-direction: row;
        justify-content: space-between;
    }
     
    #options button{
        padding: auto;
        width: 60px;
    }
}
@media all and (max-width: 500px) {
    #options{
    font-size: 12px !important;
    }
    #table{
        width: 300px !important;
    }
    
    input{
        width: 60px !important;
        font-size: 12px !important;
        padding: 1px !important;
        margin: 1px !important;
    }
    
    td{
        padding: 1px !important;
        margin: 1px !important;
        font-size:12px !important;
    }
}

caption {
    text-align: center !important;
    color:black;
    left: 50%;
    font-size: 20px;  
    margin-right: 40px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    
}

thead td {
    border-top: 2px solid;
}
